a, a:hover, a:focus {
    color: #333;
    text-decoration: none;
}

#name{
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

#content-container{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#title{
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-width: 1px;
    border-color: #EBEBEB;
    text-align: center;
    font-size: 50px;
    font-family: 'Droid Serif', serif;
}

#links{
    font-size: 110px;
    margin-top: 30px;
    padding-left: 10px;
    text-align: center;
}

#links i{
    margin: 10px;
    padding: 10px;
}

#links i:hover{
    background-color: #BED3E6;
    border-radius: 10px;
}
