@font-face {
  font-family: "Benne";
  src: url("./fonts/Benne/Benne-Regular.ttf") format("truetype");
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Benne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 80px;
  width: 80px;
}
